<div  class="content5">
    <%- include("partials/header.ejs") %> 
    <div class="one-book">
        <div class="book-one">
            <h2>Cart Items</h2>
            <img src="../images/book2.jpg" alt="book">
            <p>Author : Abbe Wright</p>
            <p>Price: Rs.450</p>
            <p id="desc">Description:In the Heart of the Sea describes the crew's encounters with whales, the dangerous process of hunting them, and the brutal extraction of their oil. The narrative provides a detailed insight into the whaling industry, its risks, and the men who made their living from it.</p>
        </div>
        
    </div>
</div>