<div class="content2">
    <%- include("partials/header.ejs") %>  
    <h1 class="ex-head">Explore Books Shelf</h1>
    <div class="book-shelf">
        <div class="item">
            <img src="../images/book3.webp" alt="book-shelf">
            <p>Author: Rohinton Mistry</p>
            <p>Price: Rs.500 </p>
            <button href="/cart" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book1.jpg" alt="book-shelf">
            <p>Author: Jai Ratan & P.Lal</p>
            <p>Price: Rs.700 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book2.jpg" alt="book-shelf">
            <p>Author: Abbe Wright</p>
            <p>Price: Rs.450 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book5.jpg" alt="book-shelf">
            <p>Author:Krishtin Hannah</p>
            <p>Price: Rs.1500 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book6.jpg" alt="book-shelf">
            <p>Author: Ferida Mc Fadden</p>
            <p>Price: Rs.890 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book7.jpg" alt="book-shelf">
            <p>Author: Leslie Jamison</p>
            <p>Price: Rs.800 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book8.jpg" alt="book-shelf">
            <p>Author: Emma Velde</p>
            <p>Price: Rs.750 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
        <div class="item">
            <img src="../images/book9.jpg" alt="book-shelf">
            <p>Author: Emily Hendry</p>
            <p>Price: Rs.550 </p>
            <button  onclick="window.location.href='/cart'" class="cart-btn" type="submit">Add to cart</button>
        </div>
       
    </div>
    <%- include("partials/footer.ejs") %>   
</div>



   